Source: linaro-image-tools
Section: devel
Priority: optional
Build-Depends: command-not-found,
               debhelper (>= 7.0.50~),
               python,
               python-all,
               python-apt,
               python-argparse,
               python-debian (>= 0.1.16ubuntu1~),
               python-dbus,
               python-distutils-extra,
               python-parted,
               python-support,
               python-testtools (>> 0.9.5),
               qemu-kvm,
               u-boot-tools | uboot-mkimage
Standards-Version: 3.9.1
Maintainer: Linaro Developers <linaro-dev@lists.linaro.org>
XS-Python-Version: >= 2.5
Vcs-Bzr: lp:ubuntu/linaro-image-tools

Package: linaro-image-tools
Architecture: all
Depends: ${misc:Depends},
         parted,
         dosfstools,
         u-boot-tools | uboot-mkimage,
         python,
         python-argparse,
         python-dbus,
         python-debian (>= 0.1.16ubuntu1),
         python-linaro-image-tools (>= ${source:Version}),
         python-parted,
         sudo
Recommends: qemu-user-static | qemu-kvm-extras-static,
            qemu-kvm,
            btrfs-tools,
            command-not-found
Description: collection of tools to work with Linaro images
 This package offers a set of tools for use with Linaro images.
 .
 The provided linaro-media-create command allows writing Linaro images
 to a SD card, or generating an image file which you can boot in QEMU.

Package: python-linaro-image-tools
Architecture: all
Section: python
Depends: ${python:Depends},
         ${misc:Depends},
         python-apt
Description: Python library for the manipulation of Linaro bootable media
 Linaro images are generated by combining generic tarballs with
 hardware-specific packs (hwpacks).
 .
 This package provides a Python library to generate Linaro images and write
 them to SD cards or image files that you can be boot in QEMU.
 .
 It also provides a Python library to aid with the creation of hardware
 packs.
